@model NetFirewall.Web.Models.Auth.LoginTotpViewModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Two-factor";
}

<div>
    @await Html.PartialAsync("_LoginTotpForm", Model)

    <div class="mt-8">
        @await Html.PartialAsync("_SystemInfoCard")
    </div>
</div>
