<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Net Firewall</title>
        @await Html.PartialAsync( "_MetadataPartial" )
        @await Html.PartialAsync( "_StylesPartial" )
    </head>
    <body data-bs-theme="light">
    <div class="wrapper">
        @await Html.PartialAsync( "_SidebarPartial" )
        <div class="main">
            @await Html.PartialAsync( "_TopHeaderPartial" )
            <main class="content px-3 py-4">
                @RenderBody()
            </main>
            <hr/>
            @await Html.PartialAsync( "_FooterPartial" )
        </div>
    </div>
    @await Html.PartialAsync( "_ScriptsPartial" )
    </body>
</html>